# Tuple

In [1]:
t = ("Poland", 4.123, 4)

In [2]:
t

('Poland', 4.123, 4)

In [3]:
t[0]

'Poland'

In [4]:
len(t)

3

In [5]:
for item in t:
    print(item)

Poland
4.123
4

In [6]:
t+(23.2343, 930.4)

('Poland', 4.123, 4, 23.2343, 930.4)

In [7]:
t*4

('Poland',
 4.123,
 4,
 'Poland',
 4.123,
 4,
 'Poland',
 4.123,
 4,
 'Poland',
 4.123,
 4)

In [8]:
a = ((34,23),(12,13),(54,34))

In [9]:
a[2]

(54, 34)

In [10]:
a[1][1]

13

In [11]:
k = (232,)

In [12]:
type(k)

tuple

In [13]:
  p = 1, 3, 4, 6,87,56

In [14]:
type(p)

tuple

In [15]:
def minmax(items):
    return min(items), max(items)

In [16]:
minmax([2,43,54,12,65,25,153])

(2, 153)

In [17]:
lower, upper = minmax([3,65,65,2,7,87,45,37])

In [18]:
lower

2

In [19]:
upper

87

In [21]:
(a,(b,(c,d))) = (4,(3,(2,1)))

In [22]:
a

4

In [23]:
b

3

In [24]:
d

1

In [27]:
a = 'cyps'
b = "zyps"

In [28]:
a, b = b, a

In [29]:
a

'zyps'

In [30]:
tuple("hakunamatata")

('h', 'a', 'k', 'u', 'n', 'a', 'm', 'a', 't', 'a', 't', 'a')